.footer{
  width: 100%;
  background: var(--color-black,#0A044B);
}

.footer-wraper{
  display: flex;
  flex-wrap: wrap;
  color: var(--color-white,#FFFFFF);
  width: 1216px;
  margin: 0 auto;
  padding-bottom: 64px;
  border-bottom: 1px solid #CECDDB
}

.footer-wraper-block-1{
  display: flex;
  width: 128px;
  flex-wrap: wrap;
  padding-top: 150px;
  gap: 16px;
}

.footer-wraper-block-svg{
  width: 16px;
}

.footer-wraper-block-img{
  width: 64px;
  height: 64px;
}

.footer-wraper-block{
  display: flex;
  flex-wrap: wrap;
  padding-top: 80px;
  padding-left: 258px;
  justify-content: space-between;
  
}

.footer-wraper-block-list{
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-right: 116px;
}

.footer-wraper-block-list:last-child{
  padding-right: 0px;
}

.footer-wraper-block-list-li{
  display: block;
  flex-wrap: nowrap;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: var(--color-white,#FFFFFF);
}

.footer-wraper-block-list-li:first-child{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--color-white,#FFFFFF);
  padding-bottom: 8px;
}

.footer-block{
  display: block;
  width: 1216px;
  margin: 0 auto;
  padding-top: 32px;
  padding-bottom: 80px;
  color: var(--color-white,#FFFFFF);
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}

.footer-block-sub{
  display: flex;
  width: 400px;
  gap: 24px;
}

.footer-block-text{
  display: block;
  padding-bottom: 8px;
  
}