.header-container{
	background-image: url("/img/header/img-1.png");
	height: 832px;
	margin: 0 auto;
	width: 100%;
	max-width: 1280px;
	padding: 0 30px;
}

.header-vraper{
	width: 100%;
	max-width: 1280px;
	padding: 215px 40px 0px;
	margin: 0 auto;
}

.header-vraper-title-h1{
	width: 453px;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 62px;
	line-height: 70px;
	letter-spacing: 1px;	
	color: var(--color-black,#0A044B);
}

.header-vraper-text{
	width: 477px;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 29px;
	letter-spacing: 0.4px;
	color: var(--color-black,#0A044B);
	padding-bottom: 40px;
}

.header-vraper-bottons-list{
	display: flex;
	flex-wrap: wrap;
	gap: 40px;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	text-align: center;
}

.header-vraper-bottons-list-li-button-1{
	display: block;
	position: relative;
	width: 189px;
	height: 44px;
	background: var(--color-violet,#5D3EA8);
	border: var(--color-violet,#5D3EA8);
	color: var(--color-white,#FFFFFF);
}

.button{
	padding-right: 10px;
}

.button::after{
	position: absolute;
	content: "";
	transform: translate(+70%,+45%);
	background-image: url("/img/button/Vector.svg");
	background-size: contain;
	width: 10px;
	height: 11px;
}

.header-vraper-bottons-list-li{
	display: block;
	position: relative;
	
}

.header-vraper-bottons-list-li-button-2{
	display: block;
	position: relative;
	width: 116px;
	height: 48px;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	text-align: center;
	border:none;
	background: inherit;
	color: ;
}

.header-vraper-bottons-list-li-button-2::after{
	position: absolute;
	content: "";
	transform: translate(+70%,+40%);
	background-image: url("/img/header/buttons.svg");
	background-size: contain;
	width: 10px;
	height: 11px;
}

