.header-container{
	background-image: url("/img/header/img-1.png");
	width: 1280px;
	height: 832px;
}

.header-vraper{
	padding-top: 214px;
	padding-left: 40px;
}

.header-vraper-title-h1{
	width: 453px;
	font-style: normal;
	font-weight: 400;
	font-size: 62px;
	line-height: 70px;
	letter-spacing: 1px;
	color: #0A044B;
}

.header-vraper-text{
	width: 477px;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 29px;	
	letter-spacing: 0.4px;
	color: #0A044B;
	padding-bottom: 40px;
}

.header-vraper-bottons-list{
	display: flex;
	flex-wrap: wrap;
	gap: 40px;
}

.header-vraper-bottons-list-li-button-1{
	display: block;
	position: relative;
	width: 189px;
	height: 44px;
	background: #5D3EA8;
	border-radius: 8px;
	border: #5D3EA8;
	color: #FFFFFF;
}

.header-vraper-bottons-list-li{
	display: block;
	position: relative;
}

.header-vraper-bottons-list-li::after{
	position: absolute;
	content: "";
	background-image: url("/img/header/buttons.svg");
}

.header-vraper-bottons-list-li-button-2{
	display: block;
	position: relative;
	width: 116px;
	height: 48px;
	border:none;
	background: inherit;
	color: ;
}

.header-vraper-bottons-list-li-button-2::after{
	position: absolute;
	content: "";
	background-image: url("/img/header/buttons.svg");
}

